<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
      <br>
      <small class="extra-small">
        What the world is talking about Bangladesh
      </small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Keep track of what the world media is talking about Bangladesh!</h3>

  <p>
    It's fascinating to see what other countries are reporting on issues involving Bangladesh. 
    WWTAB brings you those news which are hard to discover. If you like the app, please rate 
    and/or send feedback.
  </p>

  <h4>Developed by</h4>
  <p>
    Touhidur Rahman
    <br>
    Email: <a href="mailto:touhidrahman1987@gmail.com">touhidrahman1987@gmail.com</a>
  </p>

  <ion-text color="danger">
    <h4>Notice!</h4>
    The published articles are fetched from the internet thus the developer
    bears no liability for the accuracy of the news/articles.
  </ion-text>

  <h3>New Features Coming Soon!</h3>
  <ul>
    <li>Categorized news</li>
    <li>Like/upvote a news</li>
    <li>Sort news by region</li>
  </ul>
</ion-content>
