<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
      <br>
      <small class="extra-small">
        What the world is talking about Bangladesh
      </small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Keep track of what the world media is talking about Bangladesh.</h3>

  <h3>New Features Coming Soon!</h3>
  <ul>
    <li>Categorized news</li>
    <li>Share news via other apps</li>
    <li>Like/upvote a news</li>
    <li>Sort news by region</li>
  </ul>
</ion-content>
