<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      WWTAB
      <br>
      <small class="extra-small">
        What the world is talking about Bangladesh
      </small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngFor="let news of newsService.data | async">
    <ion-card>
      <ion-img
        src="{{ news.image }}"
        alt="News image"
        *ngIf="!!news.image"
        (click)="onClickReadMore(news)"
      ></ion-img>

      <ion-card-header (click)="onClickReadMore(news)">
        <ion-card-title>{{ news.title }}</ion-card-title>
        <ion-card-subtitle *ngIf="!!news.source">{{ news.source }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="!!news.description">{{ news.description }}</p>

        <div class="meta-row">
          <ion-text color="medium">
            <h5>Added on {{ news.createdAt | date:'d MMM y' }}</h5>
          </ion-text>

          <ion-icon
            name="eye"
            color="medium"
          ></ion-icon>
          <ion-label>
            {{ news.readCount ? news.readCount : 0 }}
          </ion-label>
        </div>

        <ion-button
          fill="outline"
          (click)="onClickReadMore(news)"
        >
          Read More
        </ion-button>
        <ion-button
          fill="clear"
          (click)="share(news)"
        >
          <ion-icon name="share"></ion-icon>
          Share
        </ion-button>

      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadNews($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
